<div class="container external-links">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <h2>Externé linky</h2>

            <!-- link form -->
            <form class="form"
                  name="main.form"
                  novalidate
                  data-ng-submit="main.saveLink(main.link, main.linkTitle, main.form)"
                  role="form">

                <!-- URL address -->
                <div class="form-group">
                    <label for="urlAdresa">URL adresa:</label>
                    <input type="text"
                           name="url"
                           class="form-control"
                           id="urlAdresa"
                           data-ng-model="main.link"
                           data-ng-pattern="/^http:\/\/|(www\.)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/"
                           placeholder="Vložte URL..."
                           required />


                    <div ng-if="main.form.url.$dirty && main.form.url.$invalid"
                       ng-messages="main.form.url.$error"
                       class="validation-error">
                       <span ng-message="pattern">Nesprávny formát URL, skúste prosím znovu</span>
                    </div>
                </div>

                <!-- URL title -->
                <div class="form-group">
                    <label for="urlPopis">URL popis:</label>
                    <input type="text"
                           class="form-control"
                           id="urlPopis"
                           data-ng-model="main.linkTitle"
                           placeholder="Popis URL..." />
                </div>

                <!-- buttons -->
                <div class="row">
                    <div class="col-lg-3">
                        <button class="btn btn-default" type="button" data-ng-if="main.links.length !== 0" data-ng-click="main.deleteLinks()" data-ng-disabled="!main.anyLinkSelected">Odstrániť odkaz</button>
                    </div>
                    <div class="col-lg-3 pull-right add-link">
                        <button class="btn btn-default" type="submit" data-ng-disabled="main.form.$invalid || main.form.$pristine">Pridať odkaz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" data-ng-if="main.links.length !== 0">
        <div class="col-lg-offset-3 col-lg-6">
            <h3>Zoznam URL odkazov:</h3>

            <!-- link list -->
            <div data-ng-repeat="link in main.links" class="link-wrapper">
                <button type="button" class="close" aria-label="Close" data-ng-click="main.selectLinks(link.url, link.title, link.order)" data-ng-class="{'selected': link.selected }"><span aria-hidden="true">&times;</span></button>
                <span class="tooltip">Označiť na vymazanie</span>
                <div class="link">
                    <a ng-href="{{ ::link.url }}" target="_blank">{{ ::link.title | httpPrefix }}</a>
                </div>
                <span class="tooltip"><strong>URL:</strong> {{::link.url}} <br/><strong>Title:</strong> {{::link.title }}</span>
            </div>
        </div>
    </div>
</div>
