/******************************************************************

CSS For External links app

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $gray;
	color: $text-color;
	font-family: $font;
	font-size: 16px;
	line-height: 1.5;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*********************
HOMEPAGE
*********************/

.add-link {
	margin-right: 0;
	text-align: right;
}

.close {
	float: left;
	position: relative;
	top: 2px;
	margin-right: 10px;

	&.selected {
		font-weight: 700;
		opacity: 1;
	}
}

.link-wrapper {
	position: relative;
}

// links list
.link {
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;
	z-index: 1;
	position: relative;
}

.validation-error {

	span {
		color: red;
	}
}

/*********************
TOOLTIP
*********************/
// http://www.menucool.com/tooltip/css-tooltip
.tooltip {
  outline: none;
}

.tooltip strong {
  line-height: 30px;
}

.tooltip:hover {
  text-decoration: none;
}

.tooltip {
  z-index: 10;
  // display: none;
  position: absolute;
  visibility: hidden;
  padding: 14px 20px;
  // margin-top: -30px;
  // margin-left: 28px;
  width: auto;
  line-height: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-out 0.05s;
}

.link:hover + .tooltip,
.close:hover + .tooltip {
  // display: block;
  visibility: visible;
  position: absolute;
  color: #111;
  border: 1px solid #DCA;
  background: #fffAF0;
  top: -120px;
  left: 50px;
  width: 100%;
  opacity: 1;
  z-index: 5;
  font-size: 12px;
}

.link:hover + .tooltip {
  min-width: 100%;
  width: auto;
  display: block;
  line-height: 1.5;
}

.close:hover + .tooltip {
  top: -60px;
  left: 30px;
  width: auto;
}

/*CSS3 extras*/
.tooltip span {
  border-radius: 4px;
  box-shadow: 5px 5px 8px #CCC;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.5rem;
}